[submodule "tmux"]
	path = tmux
	url = https://github.com/myinitialsarepm/tmux.git
[submodule "vim"]
	path = vim
	url = https://github.com/myinitialsarepm/vim.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/myinitialsarepm/zsh.git
[submodule "bin"]
	path = bin
	url = linode_git:~/repos/bin.git
[submodule "mutt"]
	path = mutt
	url = linode_git:~/repos/mutt.git
[submodule "powerline"]
	path = powerline
	url = https://github.com/myinitialsarepm/powerline.git
[submodule "bash"]
	path = bash
	url = linode_git:~/repos/bash.git
